USE [master]
GO
/****** Object:  Database [DBFinoraV3]    Script Date: 16/07/2026 16:56:27 ******/
CREATE DATABASE [DBFinoraV3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBFinoraV3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBFinoraV3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBFinoraV3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBFinoraV3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBFinoraV3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBFinoraV3]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_has_changes]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- Helper: kiem tra thay doi thuc su cho UPDATE
-- ============================================================
CREATE   FUNCTION [dbo].[fn_has_changes](@old NVARCHAR(MAX), @new NVARCHAR(MAX))
RETURNS BIT
AS
BEGIN
    RETURN CASE WHEN @old <> @new THEN 1 ELSE 0 END
END;
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[audit_log_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NULL,
	[action_name] [nvarchar](100) NULL,
	[table_name] [nvarchar](100) NULL,
	[record_id] [int] NULL,
	[old_data] [nvarchar](max) NULL,
	[new_data] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[audit_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[branch_id] [int] IDENTITY(1,1) NOT NULL,
	[branch_name] [nvarchar](150) NOT NULL,
	[branch_code] [nvarchar](50) NULL,
	[address] [nvarchar](300) NULL,
	[district] [nvarchar](150) NULL,
	[city] [nvarchar](150) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](150) NULL,
	[opening_time] [nvarchar](10) NULL,
	[closing_time] [nvarchar](10) NULL,
	[status] [nvarchar](20) NULL,
	[image_URL] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cash_transaction]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cash_transaction](
	[cash_transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[shift_id] [int] NOT NULL,
	[type] [nvarchar](20) NULL,
	[amount] [decimal](18, 2) NULL,
	[note] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cash_transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](255) NULL,
	[parent_category_id] [int] NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[cus_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[gender] [nvarchar](10) NULL,
	[bod] [date] NULL,
	[address] [nvarchar](300) NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](20) NULL,
	[total_spent] [decimal](18, 2) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_point]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_point](
	[cus_point_id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [int] NOT NULL,
	[current_points] [int] NULL,
	[lifetime_points] [int] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cus_point_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[emp_id] [int] IDENTITY(1,1) NOT NULL,
	[branch_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[fullName] [nvarchar](150) NOT NULL,
	[gender] [nvarchar](10) NULL,
	[bod] [date] NULL,
	[address] [nvarchar](300) NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](20) NULL,
	[passwordHash] [nvarchar](255) NULL,
	[image_URL] [nvarchar](255) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity_in_stock] [int] NULL,
	[status] [nvarchar](20) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_check]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_check](
	[check_id] [int] IDENTITY(1,1) NOT NULL,
	[check_code] [nvarchar](50) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[created_by] [int] NOT NULL,
	[approved_by] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[total_discrepancy] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_inventory_check] PRIMARY KEY CLUSTERED 
(
	[check_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_check_detail]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_check_detail](
	[detail_id] [int] IDENTITY(1,1) NOT NULL,
	[check_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[system_qty] [int] NOT NULL,
	[actual_qty] [int] NOT NULL,
	[discrepancy] [int] NOT NULL,
	[note] [nvarchar](255) NULL,
 CONSTRAINT [PK_inventory_check_detail] PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loyalty_point_setting]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loyalty_point_setting](
	[setting_id] [int] IDENTITY(1,1) NOT NULL,
	[amount_per_point] [decimal](18, 2) NOT NULL,
	[point_to_currency] [decimal](18, 2) NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_code] [nvarchar](50) NULL,
	[order_type] [nvarchar](30) NULL,
	[customer_id] [int] NULL,
	[branch_id] [int] NULL,
	[supplier_id] [int] NULL,
	[emp_id] [int] NULL,
	[voucher_id] [int] NULL,
	[warehouse_id] [int] NULL,
	[subtotal] [decimal](18, 2) NULL,
	[discount_amount] [decimal](18, 2) NULL,
	[total_amount] [decimal](18, 2) NULL,
	[payment_method] [nvarchar](50) NULL,
	[status] [nvarchar](30) NULL,
	[created_at] [datetime] NULL,
	[approved_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](18, 2) NULL,
	[total_price] [decimal](18, 2) NULL,
	[import_price] [decimal](18, 2) NULL,
	[supplier_id] [int] NULL,
	[supplier_status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[payment_amount] [decimal](18, 2) NULL,
	[payment_date] [datetime] NULL,
	[payment_status] [nvarchar](30) NULL,
	[transaction_code] [nvarchar](100) NULL,
	[PaymentType] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[EmployeeID] [int] NULL,
	[BranchID] [int] NULL,
	[payment_method] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[point_transaction]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[point_transaction](
	[point_transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[cus_point_id] [int] NOT NULL,
	[order_id] [int] NULL,
	[before_points] [int] NULL,
	[after_points] [int] NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[point_transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_codebar] [nvarchar](50) NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[category_id] [int] NULL,
	[unit_id] [int] NULL,
	[selling_price] [decimal](18, 2) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
	[status] [nvarchar](20) NULL,
	[import_price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
	[discription] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shift]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shift](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[branch_id] [int] NOT NULL,
	[opening_cash] [decimal](18, 2) NULL,
	[closing_cash] [decimal](18, 2) NULL,
	[expected_cash] [decimal](18, 2) NULL,
	[status] [nvarchar](20) NULL,
	[opened_at] [datetime] NULL,
	[closed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_transaction]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_transaction](
	[stock_transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[reference_type] [nvarchar](50) NULL,
	[reference_id] [int] NULL,
	[transaction_type] [nvarchar](20) NULL,
	[quantity] [int] NULL,
	[before_quantity] [int] NULL,
	[after_quantity] [int] NULL,
	[note] [nvarchar](500) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[stock_transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_transfer]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_transfer](
	[stock_transfer_id] [int] IDENTITY(1,1) NOT NULL,
	[from_warehouse_id] [int] NOT NULL,
	[to_warehouse_id] [int] NOT NULL,
	[transfer_code] [nvarchar](50) NULL,
	[transfer_date] [datetime] NULL,
	[status] [nvarchar](30) NULL,
	[note] [nvarchar](500) NULL,
	[created_by] [int] NULL,
	[approved_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[stock_transfer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_transfer_detail]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_transfer_detail](
	[stock_transfer_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[stock_transfer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[stock_transfer_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](150) NOT NULL,
	[phone_number] [nvarchar](20) NULL,
	[address] [nvarchar](300) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unit]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unit](
	[unit_id] [int] IDENTITY(1,1) NOT NULL,
	[unit_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vat_setting]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vat_setting](
	[setting_id] [int] IDENTITY(1,1) NOT NULL,
	[vat_percentage] [decimal](5, 2) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[voucher_code] [nvarchar](50) NOT NULL,
	[voucher_name] [nvarchar](150) NULL,
	[discount_type] [nvarchar](20) NULL,
	[discount_value] [decimal](18, 2) NULL,
	[used_quantity] [int] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse]    Script Date: 16/07/2026 16:56:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse](
	[warehouse_id] [int] IDENTITY(1,1) NOT NULL,
	[warehouse_name] [nvarchar](150) NOT NULL,
	[branch_id] [int] NOT NULL,
	[address] [nvarchar](300) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_log] ON 

INSERT [dbo].[audit_log] ([audit_log_id], [emp_id], [action_name], [table_name], [record_id], [old_data], [new_data], [created_at]) VALUES (1, 1, N'LOGIN', N'Employee', 1, NULL, NULL, CAST(N'2026-06-15T23:13:17.220' AS DateTime))
INSERT [dbo].[audit_log] ([audit_log_id], [emp_id], [action_name], [table_name], [record_id], [old_data], [new_data], [created_at]) VALUES (2, 2, N'LOGIN', N'Employee', 2, NULL, NULL, CAST(N'2026-06-23T08:13:17.220' AS DateTime))
INSERT [dbo].[audit_log] ([audit_log_id], [emp_id], [action_name], [table_name], [record_id], [old_data], [new_data], [created_at]) VALUES (3, 3, N'LOGIN', N'Employee', 3, NULL, NULL, CAST(N'2026-07-08T23:13:17.220' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[audit_log] OFF
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([branch_id], [branch_name], [branch_code], [address], [district], [city], [phone], [email], [opening_time], [closing_time], [status], [image_URL], [created_at], [update_at]) VALUES (1, N'Finora Hà Nội', N'BR-001', N'123 Trần Hưng Đạo', N'Quận Hoàn Kiếm', N'Thành phố Hà Nội', N'024-3822-0001', N'hn@finora.vn', N'07:00', N'22:00', N'INACTIVE', N'BR-001.jpg', CAST(N'2026-07-12T20:13:16.280' AS DateTime), CAST(N'2026-07-12T20:13:16.280' AS DateTime))
INSERT [dbo].[Branch] ([branch_id], [branch_name], [branch_code], [address], [district], [city], [phone], [email], [opening_time], [closing_time], [status], [image_URL], [created_at], [update_at]) VALUES (2, N'Finora Hồ Chí Minh', N'BR-002', N'456 Nguyễn Huệ', N'Quận 1', N'Thành phố Hồ Chí Minh', N'028-3911-0002', N'hcm@finora.vn', N'07:00', N'22:00', N'ACTIVE', NULL, CAST(N'2026-07-12T20:13:16.280' AS DateTime), CAST(N'2026-07-12T20:13:16.280' AS DateTime))
INSERT [dbo].[Branch] ([branch_id], [branch_name], [branch_code], [address], [district], [city], [phone], [email], [opening_time], [closing_time], [status], [image_URL], [created_at], [update_at]) VALUES (3, N'Finora Đà Nẵng', N'BR-003', N'789 Bạch Đằng', N'Quận Hải Châu', N'Thành phố Đà Nẵng', N'0236-3555-0003', N'dn@finora.vn', N'07:00', N'21:30', N'ACTIVE', NULL, CAST(N'2026-07-12T20:13:16.280' AS DateTime), CAST(N'2026-07-12T20:13:16.280' AS DateTime))
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [category_name], [description], [parent_category_id], [status], [created_at], [update_at]) VALUES (1, N'Đồ uống', N'Beverages — soft drinks, water, juice', NULL, N'ACTIVE', CAST(N'2026-07-12T20:13:16.437' AS DateTime), CAST(N'2026-07-12T20:13:16.437' AS DateTime))
INSERT [dbo].[category] ([category_id], [category_name], [description], [parent_category_id], [status], [created_at], [update_at]) VALUES (2, N'Bánh kẹo', N'Snacks & Candy — chips, cookies, chocolate', NULL, N'ACTIVE', CAST(N'2026-07-12T20:13:16.437' AS DateTime), CAST(N'2026-07-12T20:13:16.437' AS DateTime))
INSERT [dbo].[category] ([category_id], [category_name], [description], [parent_category_id], [status], [created_at], [update_at]) VALUES (3, N'Thực phẩm', N'Grocery — rice, oil, noodles, seasoning', NULL, N'ACTIVE', CAST(N'2026-07-12T20:13:16.437' AS DateTime), CAST(N'2026-07-12T20:13:16.437' AS DateTime))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([cus_id], [full_name], [gender], [bod], [address], [email], [phone], [total_spent], [status], [created_at], [updated_at]) VALUES (1, N'Nguyễn Thị Thu Hà', N'Nữ', CAST(N'1992-03-15' AS Date), N'12 Lý Thường Kiệt, Hà Nội', N'thuha.nt@email.com', N'091-200-0001', CAST(2500000.00 AS Decimal(18, 2)), N'ACTIVE', CAST(N'2026-07-12T20:13:16.593' AS DateTime), CAST(N'2026-07-12T20:13:16.593' AS DateTime))
INSERT [dbo].[customer] ([cus_id], [full_name], [gender], [bod], [address], [email], [phone], [total_spent], [status], [created_at], [updated_at]) VALUES (2, N'Trần Văn Minh', N'Nam', CAST(N'1988-07-22' AS Date), N'45 Nguyễn Du, Hà Nội', N'minh.tv@email.com', N'0912000002', CAST(1800000.00 AS Decimal(18, 2)), N'ACTIVE', CAST(N'2026-07-12T20:13:16.593' AS DateTime), CAST(N'2026-07-14T10:48:39.423' AS DateTime))
INSERT [dbo].[customer] ([cus_id], [full_name], [gender], [bod], [address], [email], [phone], [total_spent], [status], [created_at], [updated_at]) VALUES (3, N'Lê Thị Quyên', N'Nữ', CAST(N'1995-11-08' AS Date), N'78 Trần Phú, Hà Nội', N'quyen.lt@email.com', N'091-200-0003', CAST(3200000.00 AS Decimal(18, 2)), N'ACTIVE', CAST(N'2026-07-12T20:13:16.593' AS DateTime), CAST(N'2026-07-12T20:13:16.593' AS DateTime))
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[customer_point] ON 

INSERT [dbo].[customer_point] ([cus_point_id], [cus_id], [current_points], [lifetime_points], [updated_at]) VALUES (1, 1, 25, 250, CAST(N'2026-07-12T20:13:16.627' AS DateTime))
INSERT [dbo].[customer_point] ([cus_point_id], [cus_id], [current_points], [lifetime_points], [updated_at]) VALUES (2, 2, 18, 180, CAST(N'2026-07-12T20:13:16.627' AS DateTime))
INSERT [dbo].[customer_point] ([cus_point_id], [cus_id], [current_points], [lifetime_points], [updated_at]) VALUES (3, 3, 32, 320, CAST(N'2026-07-12T20:13:16.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[customer_point] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([emp_id], [branch_id], [role_id], [fullName], [gender], [bod], [address], [email], [phone], [passwordHash], [image_URL], [status], [created_at], [update_at]) VALUES (1, 1, 1, N'Nguyễn Văn An', N'Nam', CAST(N'1990-05-15' AS Date), N'Hà Nội', N'admin@finora.vn', N'090-100-0001', N'$2a$10$pPYncF3KjwYCFVeM6.R4GuEemqqHzz0VK29x2QjbPVRS1mILSQU6q', NULL, N'ACTIVE', CAST(N'2026-07-12T20:13:16.330' AS DateTime), CAST(N'2026-07-12T20:13:16.330' AS DateTime))
INSERT [dbo].[Employee] ([emp_id], [branch_id], [role_id], [fullName], [gender], [bod], [address], [email], [phone], [passwordHash], [image_URL], [status], [created_at], [update_at]) VALUES (2, 1, 2, N'Trần Thị Bình', N'Nữ', CAST(N'1985-08-20' AS Date), N'Hà Nội', N'owner@finora.vn', N'090-100-0002', N'$2a$10$pPYncF3KjwYCFVeM6.R4GuEemqqHzz0VK29x2QjbPVRS1mILSQU6q', N'/assets/images/avatars/employee_2_1784166203377.png', N'ACTIVE', CAST(N'2026-07-12T20:13:16.330' AS DateTime), CAST(N'2026-07-16T08:43:23.703' AS DateTime))
INSERT [dbo].[Employee] ([emp_id], [branch_id], [role_id], [fullName], [gender], [bod], [address], [email], [phone], [passwordHash], [image_URL], [status], [created_at], [update_at]) VALUES (3, 1, 3, N'Lê Văn Cường', N'Nam', CAST(N'1992-03-10' AS Date), N'Hà Nội', N'cuong.lv@finora.vn', N'090-100-0003', N'$2a$10$pPYncF3KjwYCFVeM6.R4GuEemqqHzz0VK29x2QjbPVRS1mILSQU6q', NULL, N'ACTIVE', CAST(N'2026-07-12T20:13:16.330' AS DateTime), CAST(N'2026-07-12T20:13:16.330' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[inventory] ON 

INSERT [dbo].[inventory] ([inventory_id], [warehouse_id], [product_id], [quantity_in_stock], [status], [updated_at]) VALUES (1, 1, 1, 13, N'ACTIVE', CAST(N'2026-07-16T04:40:57.630' AS DateTime))
INSERT [dbo].[inventory] ([inventory_id], [warehouse_id], [product_id], [quantity_in_stock], [status], [updated_at]) VALUES (2, 1, 2, 200, N'ACTIVE', CAST(N'2026-07-16T04:40:58.220' AS DateTime))
INSERT [dbo].[inventory] ([inventory_id], [warehouse_id], [product_id], [quantity_in_stock], [status], [updated_at]) VALUES (3, 1, 3, 300, N'ACTIVE', CAST(N'2026-07-16T04:40:57.460' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[inventory_check] ON 

INSERT [dbo].[inventory_check] ([check_id], [check_code], [warehouse_id], [created_by], [approved_by], [status], [total_discrepancy], [created_at], [updated_at]) VALUES (1, N'IC-1784047781049', 1, 16, 3, N'APPROVED', 860, CAST(N'2026-07-14T23:49:40.250' AS DateTime), CAST(N'2026-07-14T23:50:10.737' AS DateTime))
INSERT [dbo].[inventory_check] ([check_id], [check_code], [warehouse_id], [created_by], [approved_by], [status], [total_discrepancy], [created_at], [updated_at]) VALUES (2, N'IC-1784112792251', 1, 16, 3, N'APPROVED', 152, CAST(N'2026-07-15T17:53:11.653' AS DateTime), CAST(N'2026-07-15T17:53:43.360' AS DateTime))
INSERT [dbo].[inventory_check] ([check_id], [check_code], [warehouse_id], [created_by], [approved_by], [status], [total_discrepancy], [created_at], [updated_at]) VALUES (3, N'IC-1784151024094', 1, 16, 3, N'APPROVED', 212, CAST(N'2026-07-16T04:30:23.650' AS DateTime), CAST(N'2026-07-16T04:40:57.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[inventory_check] OFF
GO
SET IDENTITY_INSERT [dbo].[inventory_check_detail] ON 

INSERT [dbo].[inventory_check_detail] ([detail_id], [check_id], [product_id], [system_qty], [actual_qty], [discrepancy], [note]) VALUES (1, 1, 3, 300, 300, 0, N'')
INSERT [dbo].[inventory_check_detail] ([detail_id], [check_id], [product_id], [system_qty], [actual_qty], [discrepancy], [note]) VALUES (2, 1, 21, 95, 955, 860, N'')
INSERT [dbo].[inventory_check_detail] ([detail_id], [check_id], [product_id], [system_qty], [actual_qty], [discrepancy], [note]) VALUES (3, 1, 18, 109, 109, 0, N'')
GO
SET IDENTITY_INSERT [dbo].[inventory_check_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[loyalty_point_setting] ON 

INSERT [dbo].[loyalty_point_setting] ([setting_id], [amount_per_point], [point_to_currency], [updated_by], [updated_at]) VALUES (1, CAST(100000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(N'2026-07-12T20:13:16.250' AS DateTime))
SET IDENTITY_INSERT [dbo].[loyalty_point_setting] OFF
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([order_id], [order_code], [order_type], [customer_id], [branch_id], [supplier_id], [emp_id], [voucher_id], [warehouse_id], [subtotal], [discount_amount], [total_amount], [payment_method], [status], [created_at], [approved_by]) VALUES (1, N'ORD00001', N'SALE', 1, 1, NULL, 6, NULL, 1, CAST(245000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(245000.00 AS Decimal(18, 2)), N'CASH', N'COMPLETED', CAST(N'2026-01-05T09:30:00.000' AS DateTime), NULL)
INSERT [dbo].[order] ([order_id], [order_code], [order_type], [customer_id], [branch_id], [supplier_id], [emp_id], [voucher_id], [warehouse_id], [subtotal], [discount_amount], [total_amount], [payment_method], [status], [created_at], [approved_by]) VALUES (2, N'ORD00002', N'SALE', 2, 1, NULL, 7, 1, 1, CAST(180000.00 AS Decimal(18, 2)), CAST(18000.00 AS Decimal(18, 2)), CAST(162000.00 AS Decimal(18, 2)), N'CASH', N'COMPLETED', CAST(N'2026-01-06T14:15:00.000' AS DateTime), NULL)
INSERT [dbo].[order] ([order_id], [order_code], [order_type], [customer_id], [branch_id], [supplier_id], [emp_id], [voucher_id], [warehouse_id], [subtotal], [discount_amount], [total_amount], [payment_method], [status], [created_at], [approved_by]) VALUES (3, N'ORD00003', N'SALE', 3, 1, NULL, 8, NULL, 1, CAST(520000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(520000.00 AS Decimal(18, 2)), N'BANK_TRANSFER', N'COMPLETED', CAST(N'2026-01-08T10:00:00.000' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[order] OFF
GO
SET IDENTITY_INSERT [dbo].[order_detail] ON 

INSERT [dbo].[order_detail] ([order_detail_id], [order_id], [product_id], [quantity], [unit_price], [total_price], [import_price], [supplier_id], [supplier_status]) VALUES (1, 1, 1, 2, CAST(10000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[order_detail] ([order_detail_id], [order_id], [product_id], [quantity], [unit_price], [total_price], [import_price], [supplier_id], [supplier_status]) VALUES (2, 1, 13, 1, CAST(10000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[order_detail] ([order_detail_id], [order_id], [product_id], [quantity], [unit_price], [total_price], [import_price], [supplier_id], [supplier_status]) VALUES (3, 1, 4, 1, CAST(45000.00 AS Decimal(18, 2)), CAST(45000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[order_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[payment] ON 

INSERT [dbo].[payment] ([payment_id], [order_id], [payment_amount], [payment_date], [payment_status], [transaction_code], [PaymentType], [Description], [EmployeeID], [BranchID], [payment_method]) VALUES (1, 1, CAST(245000.00 AS Decimal(18, 2)), CAST(N'2026-01-05T09:30:00.000' AS DateTime), N'PAID', N'TXN-ORD00001', N'INCOME', N'Thanh toán đơn hàng ORD00001', 6, 1, N'CASH')
INSERT [dbo].[payment] ([payment_id], [order_id], [payment_amount], [payment_date], [payment_status], [transaction_code], [PaymentType], [Description], [EmployeeID], [BranchID], [payment_method]) VALUES (2, 2, CAST(162000.00 AS Decimal(18, 2)), CAST(N'2026-01-06T14:15:00.000' AS DateTime), N'PAID', N'TXN-ORD00002', N'INCOME', N'Thanh toán đơn hàng ORD00002', 7, 1, N'CASH')
INSERT [dbo].[payment] ([payment_id], [order_id], [payment_amount], [payment_date], [payment_status], [transaction_code], [PaymentType], [Description], [EmployeeID], [BranchID], [payment_method]) VALUES (3, 3, CAST(520000.00 AS Decimal(18, 2)), CAST(N'2026-01-08T10:00:00.000' AS DateTime), N'PAID', N'TXN-ORD00003', N'INCOME', N'Thanh toán đơn hàng ORD00003', 8, 1, N'BANK_TRANSFER')
GO
SET IDENTITY_INSERT [dbo].[payment] OFF
GO
SET IDENTITY_INSERT [dbo].[point_transaction] ON 

INSERT [dbo].[point_transaction] ([point_transaction_id], [cus_point_id], [order_id], [before_points], [after_points], [description], [created_at]) VALUES (1, 1, 1, 22, 25, N'Earned 2.450000000 points from Order ORD00001', CAST(N'2026-01-05T09:30:00.000' AS DateTime))
INSERT [dbo].[point_transaction] ([point_transaction_id], [cus_point_id], [order_id], [before_points], [after_points], [description], [created_at]) VALUES (2, 2, 2, 16, 18, N'Earned 1.620000000 points from Order ORD00002', CAST(N'2026-01-06T14:15:00.000' AS DateTime))
INSERT [dbo].[point_transaction] ([point_transaction_id], [cus_point_id], [order_id], [before_points], [after_points], [description], [created_at]) VALUES (3, 3, 3, 26, 32, N'Earned 5.200000000 points from Order ORD00003', CAST(N'2026-01-08T10:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[point_transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [product_codebar], [product_name], [category_id], [unit_id], [selling_price], [ImageUrl], [created_at], [update_at], [status], [import_price]) VALUES (1, N'8934567890123', N'Coca Cola 330ml', 1, 3, CAST(10000.00 AS Decimal(18, 2)), N'["/SWP391_Finora/assets/images/product/product_1_013a6334-43cf-436c-a9e5-2214e331494d.png"]', CAST(N'2026-07-12T20:13:16.500' AS DateTime), CAST(N'2026-07-16T07:42:59.737' AS DateTime), N'Active', NULL)
INSERT [dbo].[product] ([product_id], [product_codebar], [product_name], [category_id], [unit_id], [selling_price], [ImageUrl], [created_at], [update_at], [status], [import_price]) VALUES (2, N'8934567890124', N'Pepsi 330ml', 1, 3, CAST(10000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-07-12T20:13:16.500' AS DateTime), CAST(N'2026-07-15T01:34:29.860' AS DateTime), N'Inactive', NULL)
INSERT [dbo].[product] ([product_id], [product_codebar], [product_name], [category_id], [unit_id], [selling_price], [ImageUrl], [created_at], [update_at], [status], [import_price]) VALUES (3, N'8934567890125', N'Aquafina 500ml', 1, 3, CAST(5000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-07-12T20:13:16.500' AS DateTime), CAST(N'2026-07-12T20:13:16.500' AS DateTime), N'ACTIVE', NULL)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name], [discription], [created_at], [update_at]) VALUES (1, N'Admin', N'System administrator with full access', CAST(N'2026-07-12T20:13:16.267' AS DateTime), CAST(N'2026-07-12T20:13:16.267' AS DateTime))
INSERT [dbo].[Role] ([role_id], [role_name], [discription], [created_at], [update_at]) VALUES (2, N'Owner', N'Shop owner, views all business data', CAST(N'2026-07-12T20:13:16.267' AS DateTime), CAST(N'2026-07-12T20:13:16.267' AS DateTime))
INSERT [dbo].[Role] ([role_id], [role_name], [discription], [created_at], [update_at]) VALUES (3, N'StoreManager', N'Manages a single branch and its employees', CAST(N'2026-07-12T20:13:16.267' AS DateTime), CAST(N'2026-07-12T20:13:16.267' AS DateTime))
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_transaction] ON 

INSERT [dbo].[stock_transaction] ([stock_transaction_id], [warehouse_id], [product_id], [reference_type], [reference_id], [transaction_type], [quantity], [before_quantity], [after_quantity], [note], [created_by], [created_at]) VALUES (1, 1, 1, N'ORDER', 1, N'SALE_DEDUCT', 2, 0, 0, N'Deducted 2 units for Order ORD00001', 6, CAST(N'2026-01-05T09:30:00.000' AS DateTime))
INSERT [dbo].[stock_transaction] ([stock_transaction_id], [warehouse_id], [product_id], [reference_type], [reference_id], [transaction_type], [quantity], [before_quantity], [after_quantity], [note], [created_by], [created_at]) VALUES (2, 1, 13, N'ORDER', 1, N'SALE_DEDUCT', 1, 0, 0, N'Deducted 1 units for Order ORD00001', 6, CAST(N'2026-01-05T09:30:00.000' AS DateTime))
INSERT [dbo].[stock_transaction] ([stock_transaction_id], [warehouse_id], [product_id], [reference_type], [reference_id], [transaction_type], [quantity], [before_quantity], [after_quantity], [note], [created_by], [created_at]) VALUES (3, 1, 4, N'ORDER', 1, N'SALE_DEDUCT', 1, 0, 0, N'Deducted 1 units for Order ORD00001', 6, CAST(N'2026-01-05T09:30:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[stock_transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_transfer] ON 

INSERT [dbo].[stock_transfer] ([stock_transfer_id], [from_warehouse_id], [to_warehouse_id], [transfer_code], [transfer_date], [status], [note], [created_by], [approved_by]) VALUES (1, 1, 2, N'TRF-00001', CAST(N'2026-02-15T09:00:00.000' AS DateTime), N'COMPLETED', N'Chuyển hàng từ Hà Nội vào HCM', 3, NULL)
INSERT [dbo].[stock_transfer] ([stock_transfer_id], [from_warehouse_id], [to_warehouse_id], [transfer_code], [transfer_date], [status], [note], [created_by], [approved_by]) VALUES (2, 1, 3, N'TRF-00002', CAST(N'2026-03-10T14:30:00.000' AS DateTime), N'COMPLETED', N'Chuyển hàng từ Hà Nội vào Đà Nẵng', 3, NULL)
INSERT [dbo].[stock_transfer] ([stock_transfer_id], [from_warehouse_id], [to_warehouse_id], [transfer_code], [transfer_date], [status], [note], [created_by], [approved_by]) VALUES (3, 2, 1, N'TRF-00003', CAST(N'2026-04-05T10:00:00.000' AS DateTime), N'COMPLETED', N'Chuyển hàng từ HCM ra Hà Nội', 4, NULL)
SET IDENTITY_INSERT [dbo].[stock_transfer] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_transfer_detail] ON 

INSERT [dbo].[stock_transfer_detail] ([stock_transfer_detail_id], [stock_transfer_id], [product_id], [quantity]) VALUES (1, 1, 1, 30)
INSERT [dbo].[stock_transfer_detail] ([stock_transfer_detail_id], [stock_transfer_id], [product_id], [quantity]) VALUES (2, 1, 2, 25)
INSERT [dbo].[stock_transfer_detail] ([stock_transfer_detail_id], [stock_transfer_id], [product_id], [quantity]) VALUES (3, 1, 3, 40)
SET IDENTITY_INSERT [dbo].[stock_transfer_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[supplier] ON 

INSERT [dbo].[supplier] ([supplier_id], [supplier_name], [phone_number], [address], [status], [created_at], [updated_at]) VALUES (1, N'Công ty TNHH Thực phẩm Xanh', N'024-3888-1111', N'Số 10 Láng Hạ, Hà Nội', N'ACTIVE', CAST(N'2026-07-12T20:13:16.343' AS DateTime), CAST(N'2026-07-12T20:13:16.343' AS DateTime))
INSERT [dbo].[supplier] ([supplier_id], [supplier_name], [phone_number], [address], [status], [created_at], [updated_at]) VALUES (2, N'Công ty CP Đồ uống Việt', N'028-3999-2222', N'123 Lê Duẩn, Hồ Chí Minh', N'ACTIVE', CAST(N'2026-07-12T20:13:16.343' AS DateTime), CAST(N'2026-07-12T20:13:16.343' AS DateTime))
INSERT [dbo].[supplier] ([supplier_id], [supplier_name], [phone_number], [address], [status], [created_at], [updated_at]) VALUES (3, N'Công ty TNHH Hàng tiêu dùng Nam', N'0236-3777-3333', N'45 Nguyễn Văn Linh, Đà Nẵng', N'ACTIVE', CAST(N'2026-07-12T20:13:16.343' AS DateTime), CAST(N'2026-07-12T20:13:16.343' AS DateTime))
SET IDENTITY_INSERT [dbo].[supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[unit] ON 

INSERT [dbo].[unit] ([unit_id], [unit_name], [description]) VALUES (1, N'Cái', N'Piece')
INSERT [dbo].[unit] ([unit_id], [unit_name], [description]) VALUES (2, N'Thùng', N'Box')
INSERT [dbo].[unit] ([unit_id], [unit_name], [description]) VALUES (3, N'Chai', N'Bottle')
SET IDENTITY_INSERT [dbo].[unit] OFF
GO
SET IDENTITY_INSERT [dbo].[vat_setting] ON 

INSERT [dbo].[vat_setting] ([setting_id], [vat_percentage], [updated_by], [updated_at]) VALUES (1, CAST(7.00 AS Decimal(5, 2)), 2, CAST(N'2026-07-15T01:28:22.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[vat_setting] OFF
GO
SET IDENTITY_INSERT [dbo].[voucher] ON 

INSERT [dbo].[voucher] ([voucher_id], [voucher_code], [voucher_name], [discount_type], [discount_value], [used_quantity], [start_date], [end_date], [status], [created_at]) VALUES (1, N'SALE10', N'Giảm 10% đơn hàng', N'PERCENT', CAST(10.00 AS Decimal(18, 2)), 8, CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), N'ACTIVE', CAST(N'2026-07-12T20:13:16.627' AS DateTime))
INSERT [dbo].[voucher] ([voucher_id], [voucher_code], [voucher_name], [discount_type], [discount_value], [used_quantity], [start_date], [end_date], [status], [created_at]) VALUES (2, N'SALE20', N'Giảm 20% đơn hàng', N'PERCENT', CAST(20.00 AS Decimal(18, 2)), 4, CAST(N'2026-01-01' AS Date), CAST(N'2026-06-30' AS Date), N'ACTIVE', CAST(N'2026-07-12T20:13:16.627' AS DateTime))
INSERT [dbo].[voucher] ([voucher_id], [voucher_code], [voucher_name], [discount_type], [discount_value], [used_quantity], [start_date], [end_date], [status], [created_at]) VALUES (3, N'FIXED50', N'Giảm 50,000đ đơn từ 500k', N'FIXED', CAST(50000.00 AS Decimal(18, 2)), 5, CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), N'ACTIVE', CAST(N'2026-07-12T20:13:16.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[voucher] OFF
GO
SET IDENTITY_INSERT [dbo].[warehouse] ON 

INSERT [dbo].[warehouse] ([warehouse_id], [warehouse_name], [branch_id], [address], [status], [created_at]) VALUES (1, N'Kho Hà Nội', 1, N'KCN Bắc Từ Liêm, Hà Nội', N'ACTIVE', CAST(N'2026-07-12T20:13:16.407' AS DateTime))
INSERT [dbo].[warehouse] ([warehouse_id], [warehouse_name], [branch_id], [address], [status], [created_at]) VALUES (2, N'Kho Hồ Chí Minh', 2, N'KCN Tân Bình, Hồ Chí Minh', N'ACTIVE', CAST(N'2026-07-12T20:13:16.407' AS DateTime))
INSERT [dbo].[warehouse] ([warehouse_id], [warehouse_name], [branch_id], [address], [status], [created_at]) VALUES (3, N'Kho Đà Nẵng', 3, N'KCN Liên Chiểu, Đà Nẵng', N'ACTIVE', CAST(N'2026-07-12T20:13:16.407' AS DateTime))
SET IDENTITY_INSERT [dbo].[warehouse] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Branch__A9F83E3B26043C45]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[Branch] ADD UNIQUE NONCLUSTERED 
(
	[branch_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Branch__AB6E6164D3075A38]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[Branch] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Branch__B43B145FB08D7F8C]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[Branch] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__B43B145F054CC723]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[customer] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__customer__E84D41E99B4823BF]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[customer_point] ADD UNIQUE NONCLUSTERED 
(
	[cus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__AB6E61647135A524]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__B43B145FDC8FD73D]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_BranchID]    Script Date: 16/07/2026 16:56:51 ******/
CREATE NONCLUSTERED INDEX [IX_Employee_BranchID] ON [dbo].[Employee]
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employee_Status]    Script Date: 16/07/2026 16:56:51 ******/
CREATE NONCLUSTERED INDEX [IX_Employee_Status] ON [dbo].[Employee]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_inventory_warehouse_product]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[inventory] ADD  CONSTRAINT [UQ_inventory_warehouse_product] UNIQUE NONCLUSTERED 
(
	[warehouse_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__inventor__C19CAEF47432F667]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[inventory_check] ADD UNIQUE NONCLUSTERED 
(
	[check_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__order__99D12D3F8B95B5A7]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[order] ADD UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_BranchID]    Script Date: 16/07/2026 16:56:51 ******/
CREATE NONCLUSTERED INDEX [IX_Order_BranchID] ON [dbo].[order]
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_EmployeeID]    Script Date: 16/07/2026 16:56:51 ******/
CREATE NONCLUSTERED INDEX [IX_Order_EmployeeID] ON [dbo].[order]
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Order_OrderCode_NotNull]    Script Date: 16/07/2026 16:56:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Order_OrderCode_NotNull] ON [dbo].[order]
(
	[order_code] ASC
)
WHERE ([order_code] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__product__882565DB6F4C295C]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[product] ADD UNIQUE NONCLUSTERED 
(
	[product_codebar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__voucher__21731069E03EB29D]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[voucher] ADD UNIQUE NONCLUSTERED 
(
	[voucher_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__warehous__E55E37DF54FDD07F]    Script Date: 16/07/2026 16:56:51 ******/
ALTER TABLE [dbo].[warehouse] ADD UNIQUE NONCLUSTERED 
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Branch] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Branch] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Branch] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[cash_transaction] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[cash_transaction] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((0)) FOR [total_spent]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[customer_point] ADD  DEFAULT ((0)) FOR [current_points]
GO
ALTER TABLE [dbo].[customer_point] ADD  DEFAULT ((0)) FOR [lifetime_points]
GO
ALTER TABLE [dbo].[customer_point] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ((0)) FOR [quantity_in_stock]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[inventory_check] ADD  DEFAULT ((0)) FOR [total_discrepancy]
GO
ALTER TABLE [dbo].[inventory_check] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[inventory_check] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[loyalty_point_setting] ADD  DEFAULT ((100000)) FOR [amount_per_point]
GO
ALTER TABLE [dbo].[loyalty_point_setting] ADD  DEFAULT ((0)) FOR [point_to_currency]
GO
ALTER TABLE [dbo].[loyalty_point_setting] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_detail] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[order_detail] ADD  DEFAULT ((0)) FOR [unit_price]
GO
ALTER TABLE [dbo].[order_detail] ADD  DEFAULT ((0)) FOR [total_price]
GO
ALTER TABLE [dbo].[order_detail] ADD  DEFAULT ((0)) FOR [import_price]
GO
ALTER TABLE [dbo].[order_detail] ADD  DEFAULT ('PENDING') FOR [supplier_status]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT ((0)) FOR [payment_amount]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT ('PENDING') FOR [payment_status]
GO
ALTER TABLE [dbo].[point_transaction] ADD  DEFAULT ((0)) FOR [before_points]
GO
ALTER TABLE [dbo].[point_transaction] ADD  DEFAULT ((0)) FOR [after_points]
GO
ALTER TABLE [dbo].[point_transaction] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [selling_price]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (getdate()) FOR [update_at]
GO
ALTER TABLE [dbo].[shift] ADD  DEFAULT ((0)) FOR [opening_cash]
GO
ALTER TABLE [dbo].[shift] ADD  DEFAULT ((0)) FOR [closing_cash]
GO
ALTER TABLE [dbo].[shift] ADD  DEFAULT ((0)) FOR [expected_cash]
GO
ALTER TABLE [dbo].[shift] ADD  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[shift] ADD  DEFAULT (getdate()) FOR [opened_at]
GO
ALTER TABLE [dbo].[stock_transaction] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[stock_transaction] ADD  DEFAULT ((0)) FOR [before_quantity]
GO
ALTER TABLE [dbo].[stock_transaction] ADD  DEFAULT ((0)) FOR [after_quantity]
GO
ALTER TABLE [dbo].[stock_transaction] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[stock_transfer] ADD  DEFAULT (getdate()) FOR [transfer_date]
GO
ALTER TABLE [dbo].[stock_transfer_detail] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[supplier] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[supplier] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[supplier] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vat_setting] ADD  DEFAULT ((8)) FOR [vat_percentage]
GO
ALTER TABLE [dbo].[vat_setting] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((0)) FOR [used_quantity]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[warehouse] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[warehouse] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_Employee] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[audit_log] CHECK CONSTRAINT [FK_AuditLog_Employee]
GO
ALTER TABLE [dbo].[cash_transaction]  WITH CHECK ADD  CONSTRAINT [FK_CashTransaction_Shift] FOREIGN KEY([shift_id])
REFERENCES [dbo].[shift] ([shift_id])
GO
ALTER TABLE [dbo].[cash_transaction] CHECK CONSTRAINT [FK_CashTransaction_Shift]
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [FK_Category_ParentCategory] FOREIGN KEY([parent_category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [FK_Category_ParentCategory]
GO
ALTER TABLE [dbo].[customer_point]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPoint_Customer] FOREIGN KEY([cus_id])
REFERENCES [dbo].[customer] ([cus_id])
GO
ALTER TABLE [dbo].[customer_point] CHECK CONSTRAINT [FK_CustomerPoint_Customer]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Branch]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [FK_Inventory_Product]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouse] ([warehouse_id])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [FK_Inventory_Warehouse]
GO
ALTER TABLE [dbo].[inventory_check]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[inventory_check]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[inventory_check]  WITH CHECK ADD FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouse] ([warehouse_id])
GO
ALTER TABLE [dbo].[inventory_check_detail]  WITH CHECK ADD FOREIGN KEY([check_id])
REFERENCES [dbo].[inventory_check] ([check_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inventory_check_detail]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[loyalty_point_setting]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_Order_ApprovedBy_Employee] FOREIGN KEY([approved_by])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_Order_ApprovedBy_Employee]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_Order_Branch]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([cus_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[supplier] ([supplier_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_Order_Supplier]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Voucher] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[voucher] ([voucher_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_Order_Voucher]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouse] ([warehouse_id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_Order_Warehouse]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([order_id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[supplier] ([supplier_id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FK_OrderDetail_Supplier]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Branch] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_Payment_Branch]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_Payment_Employee]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([order_id])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[point_transaction]  WITH CHECK ADD  CONSTRAINT [FK_PointTransaction_CustomerPoint] FOREIGN KEY([cus_point_id])
REFERENCES [dbo].[customer_point] ([cus_point_id])
GO
ALTER TABLE [dbo].[point_transaction] CHECK CONSTRAINT [FK_PointTransaction_CustomerPoint]
GO
ALTER TABLE [dbo].[point_transaction]  WITH CHECK ADD  CONSTRAINT [FK_PointTransaction_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([order_id])
GO
ALTER TABLE [dbo].[point_transaction] CHECK CONSTRAINT [FK_PointTransaction_Order]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Unit] FOREIGN KEY([unit_id])
REFERENCES [dbo].[unit] ([unit_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_Product_Unit]
GO
ALTER TABLE [dbo].[shift]  WITH CHECK ADD  CONSTRAINT [FK_Shift_Branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[shift] CHECK CONSTRAINT [FK_Shift_Branch]
GO
ALTER TABLE [dbo].[shift]  WITH CHECK ADD  CONSTRAINT [FK_Shift_Employee] FOREIGN KEY([emp_id])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[shift] CHECK CONSTRAINT [FK_Shift_Employee]
GO
ALTER TABLE [dbo].[stock_transaction]  WITH CHECK ADD  CONSTRAINT [FK_StockTransaction_Employee] FOREIGN KEY([created_by])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[stock_transaction] CHECK CONSTRAINT [FK_StockTransaction_Employee]
GO
ALTER TABLE [dbo].[stock_transaction]  WITH CHECK ADD  CONSTRAINT [FK_StockTransaction_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[stock_transaction] CHECK CONSTRAINT [FK_StockTransaction_Product]
GO
ALTER TABLE [dbo].[stock_transaction]  WITH CHECK ADD  CONSTRAINT [FK_StockTransaction_Warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouse] ([warehouse_id])
GO
ALTER TABLE [dbo].[stock_transaction] CHECK CONSTRAINT [FK_StockTransaction_Warehouse]
GO
ALTER TABLE [dbo].[stock_transfer]  WITH CHECK ADD  CONSTRAINT [FK_StockTransfer_ApprovedBy_Employee] FOREIGN KEY([approved_by])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[stock_transfer] CHECK CONSTRAINT [FK_StockTransfer_ApprovedBy_Employee]
GO
ALTER TABLE [dbo].[stock_transfer]  WITH CHECK ADD  CONSTRAINT [FK_StockTransfer_Employee] FOREIGN KEY([created_by])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[stock_transfer] CHECK CONSTRAINT [FK_StockTransfer_Employee]
GO
ALTER TABLE [dbo].[stock_transfer]  WITH CHECK ADD  CONSTRAINT [FK_StockTransfer_FromWarehouse] FOREIGN KEY([from_warehouse_id])
REFERENCES [dbo].[warehouse] ([warehouse_id])
GO
ALTER TABLE [dbo].[stock_transfer] CHECK CONSTRAINT [FK_StockTransfer_FromWarehouse]
GO
ALTER TABLE [dbo].[stock_transfer]  WITH CHECK ADD  CONSTRAINT [FK_StockTransfer_ToWarehouse] FOREIGN KEY([to_warehouse_id])
REFERENCES [dbo].[warehouse] ([warehouse_id])
GO
ALTER TABLE [dbo].[stock_transfer] CHECK CONSTRAINT [FK_StockTransfer_ToWarehouse]
GO
ALTER TABLE [dbo].[stock_transfer_detail]  WITH CHECK ADD  CONSTRAINT [FK_StockTransferDetail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[stock_transfer_detail] CHECK CONSTRAINT [FK_StockTransferDetail_Product]
GO
ALTER TABLE [dbo].[stock_transfer_detail]  WITH CHECK ADD  CONSTRAINT [FK_StockTransferDetail_StockTransfer] FOREIGN KEY([stock_transfer_id])
REFERENCES [dbo].[stock_transfer] ([stock_transfer_id])
GO
ALTER TABLE [dbo].[stock_transfer_detail] CHECK CONSTRAINT [FK_StockTransferDetail_StockTransfer]
GO
ALTER TABLE [dbo].[vat_setting]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[Employee] ([emp_id])
GO
ALTER TABLE [dbo].[warehouse]  WITH CHECK ADD  CONSTRAINT [FK_Warehouse_Branch] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[warehouse] CHECK CONSTRAINT [FK_Warehouse_Branch]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[cash_transaction]  WITH CHECK ADD CHECK  (([type]='WITHDRAW' OR [type]='DEPOSIT'))
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD CHECK  (([status]='OUT_OF_STOCK' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[inventory_check]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD CHECK  (([order_type]='EXPORT' OR [order_type]='PURCHASE' OR [order_type]='SALE'))
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD CHECK  (([payment_method]='BANK_TRANSFER' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD CHECK  (([payment_status]='FAILED' OR [payment_status]='PAID' OR [payment_status]='PENDING'))
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_PaymentMethod] CHECK  (([payment_method]='CARD' OR [payment_method]='BANKING' OR [payment_method]='VNPAY' OR [payment_method]='BANK_TRANSFER' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [CK_Payment_PaymentMethod]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_PaymentType] CHECK  (([PaymentType]='EXPENSE' OR [PaymentType]='INCOME'))
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [CK_Payment_PaymentType]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[supplier]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[voucher]  WITH CHECK ADD CHECK  (([discount_type]='FIXED' OR [discount_type]='PERCENT'))
GO
ALTER TABLE [dbo].[warehouse]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='ACTIVE'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoCancelPendingOrders]    Script Date: 16/07/2026 16:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bước 1: Tạo stored procedure xử lý cancel
CREATE   PROCEDURE [dbo].[sp_AutoCancelPendingOrders]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @cutoffTime DATETIME = DATEADD(MINUTE, -30, GETDATE());

    UPDATE [order]
    SET status = 'CANCELLED'
    WHERE status = 'PENDING'
      AND created_at <= @cutoffTime;

    PRINT N'Đã hủy các đơn hàng PENDING quá 30 phút (trước ' + CONVERT(VARCHAR, @cutoffTime, 120) + N').';
END
GO
USE [master]
GO
